{% extends 'base.html' %}

{% block content %}
  <div data-aos="fade-up">
    <h2 class="mb-4">Confirm Service Deletion</h2>
  </div>
  <div data-aos="fade-up" data-aos-delay="200">
    <p>Are you sure you want to delete the service "{{ object }}"?</p>
  </div>
  <div data-aos="fade-up" data-aos-delay="400">
    <form method="post" class="d-inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger me-2">Confirm Delete</button>
    </form>
    <a href="{% url 'residents:resident_dashboard' pk=object.resident.pk %}" class="btn btn-secondary">Cancel</a>  </div>
{% endblock %}